<% n_conf = @bookings[:confirmed].count %>
<% n_not_conf = @bookings[:not_confirmed].count %>

<div class="row">
  <div class="col col-6">
    <h3>Confirmadas (<%= n_conf.positive? ? n_conf : 0 %>)</h3>
    <hr>
    <% if n_conf.positive? %>
      <% @bookings[:confirmed].each do |booking| %>
        <p><%= link_to "#{booking.availability.start_time}", lectures_path %></p>
      <% end %>
    <% else %>
      <p>Você não tem agendamentos confirmadas.</p>
    <% end %>              
  </div>
  <div class="col col-6">
    <h3>Não confirmadas (<%= n_not_conf.positive? ? n_not_conf : 0 %>)</h3>
    <hr>
    <% if n_not_conf.positive? %>
      <% @bookings[:not_confirmed].each do |booking| %>
        <p><%= link_to "#{booking.availability.start_time}", lectures_path %></p>
      <% end %>
    <% else %>
      <p>Você não tem agendamentos com confirmação pendente.</p>
    <% end %>             
  </div>
</div>