<h1>Pages#home</h1>
<hr>
<%= link_to "Criar aula", new_lecture_path %> <br>
<%= link_to "Ver todas as aulas", lectures_path %> <br>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>   