.alert {
  position: fixed;
  top: 80px;
  right: 16px;
  z-index: 1000;
  color: $black;
  background-color: rgb(240, 194, 194) ; 
  opacity: 0.5;
  border-radius: 4px;
  padding: 8px;
}

.notice {
  position: fixed;
  top: 100px;
  right: 16px;
  z-index: 1000;
  color: $black;
  border-radius: 4px;
  padding: 8px;
  background-color: rgb(194, 240, 225);
  opacity: 0.5;
}

.hidden {
  display: none;
}