
<div class="container">

  <h2>Horário para <%= @lecture.title %></h2>

  <%= @availability.start_time %>

  <%= link_to "Voltar", lecture_path(@lecture) %>

  <%= link_to "Agendar aula", lecture_availability_bookings_path( { availability_id: @availability.id, user_id: current_user }), method: :post%>
</div>

